---
import Button from "./Button.astro";
import MediaViewer from "./MediaViewer.astro";
import GithubIcon from "/icons/github.svg?raw";

interface Props {
	src: string;
	title: string;
	tags: string[];
	website?: string;
	blog?: string;
	github?: string;
}

const { src, title, tags, website, blog, github } = Astro.props;

const baseTagClass = "capitalize p-1 border text-xs";

const tagClasses = {
	typescript: "text-info border-info/50 bg-info/5",
	react: "text-info border-info/50  bg-info/5",
	"next.js": "text-text-muted border-text-muted/50 bg-text-muted/5",
	tailwind: "text-info border-info/50  bg-info/5",
	"node.js": "text-success border-success/50 bg-success/5",
	postgresql: "text-info border-info/50  bg-info/5",
	prisma: "text-text-muted border-text-muted/50 bg-text-muted/5",
	redis: "text-error border-error/50 bg-error/5",
	docker: "text-info border-info/50  bg-info/5",
	git: "text-error border-error/50 bg-error/5",
	coolify: "text-primary border-primary/50 bg-primary/5",
	"github actions": "text-info border-info/50  bg-info/5",
	sonarqube: "text-text-muted border-text-muted/50 bg-text-muted/5",
	eslint: "text-primary-hover border-primary-hover/50 bg-primary-hover/5",
	java: "text-warning border-warning/50 bg-warning/5",
	python: "text-warning border-warning/50 bg-warning/5",
	category: "text-warning border-warning/50 bg-warning/5",
	"express.js": "text-text-muted border-text-muted/50 bg-text-muted/5",
} as Record<string, string>;
---

<div
	class="border-border bg-surface text-text flex h-full min-h-124 flex-col border p-4"
>
	<h3 class="text-primary line-clamp-2 min-h-14 font-bold capitalize">
		{title}
	</h3>
	<MediaViewer src={src} alt={`${title} cover`} class="shrink-0" />
	<p class="text-md text-text line-clamp-6 min-h-24">
		<slot />
	</p>
	<div class="mt-auto flex flex-col">
		<div class="flex flex-wrap gap-2">
			{
				tags.map((tag) => (
					<div class:list={[baseTagClass, tagClasses[tag]]}>
						{tag}
					</div>
				))
			}
		</div>

		<div class="mt-3 flex w-full gap-3">
			<Button
				href={website ?? "#"}
				ariaLabel="Website"
				class="flex-1"
				target="_blank"
				rel="noreferrer noopener"
				disabled={!website}
			>
				Website
			</Button>

			<Button href={blog ?? "#"} ariaLabel="Blog" disabled={!blog}>
				Blog
			</Button>

			<Button
				href={github ?? "#"}
				ariaLabel="GitHub"
				target="_blank"
				rel="noreferrer noopener"
				disabled={!github}
			>
				<span
					class="flex size-6 [&>svg]:block [&>svg]:size-full"
					set:html={GithubIcon}
				/>
			</Button>
		</div>
	</div>
</div>
